<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Rock, Paper, Scissors App</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h2>Play Game!</h2>

        <form action="/game" method="POST">
            <h3>Player 1:</h3>
            <label for="player_1_name">Name:</label>
            <input required type="text" name="player_1_name" id="player_1_name">
            <label for="player_1_choice">Choice:</label>
            <!-- <input type="text" name="choice" id="choice"> -->
            <select required name="player_1_choice" id="choice">
                <option value="" disabled selected>Choice</option>
                <option value="Rock">Rock</option>
                <option value="Paper">Paper</option>
                <option value="Scissors">Scissors</option>
            </select>


            <h3>Player 2:</h3>
            <label for="player_2_name">Name:</label>
            <input required type="text" name="player_2_name" id="player_2_name">
            <label for="player_2_choice">Choice:</label>
            <!-- <input type="text" name="choice" id="choice"> -->
            <select required name="player_2_choice" id="choice">
                <option value="" disabled selected>Choice</option>
                <option value="Rock">Rock</option>
                <option value="Paper">Paper</option>
                <option value="Scissors">Scissors</option>
            </select>
            <input type="submit" value="Submit" id="submit-button">
        </form>
        
        <div class="player-choice-container">
            {% for player in players %}
            <div class="player">
                <h2>{{ player.name }}: {{ player.choice }}</h2>
            </div>
            {% endfor %}
        </div>

        <div id ="game_result">
            {{ game_result }}
        </div>

        {% if players|length > 0 %}
            <form action="/reset" method="POST">
                <input type="submit" value="Reset Game">
            <form>
        {% endif %}

    {% endblock  %}

    
    
</body>
</html>
