<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVP</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <div id="mvp-page">
            <h1>MVP</h1>
            <section>To use MVP, write player 1 name then choice followed by player 2 name and choice in route. <br><br> For example:<br>"http://localhost:5000/mvp/player1/rock/player2/paper"</section>
            {{ game_result }}
        </div>
    {% endblock %}
</body>
</html>