<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Computer</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h2>Play Game with Computer!</h2>

        <form action="/play-computer" method="POST">
            <h3>Player {{player_number}}</h3>
            <label for="player_name">Name:</label>
            <input required type="text" name="player_name" id="player_name">
            <label for="player_choice">Choice:</label>
            <select required name="player_choice" id="choice">
                <option value="" disabled selected>Choice</option>
                <option value="Rock">Rock</option>
                <option value="Paper">Paper</option>
                <option value="Scissors">Scissors</option>
            </select>

            <input type="submit" value="Play Game" id="submit-button">
        </form>

    {% endblock  %}

    
</body>
</html>