<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Game</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <h2 id="play-title">Play Game!</h2>

        <form action="/add-player/{{player_number}}" method="POST" id="play-form">
            <h3>Player {{player_number}}</h3>
            <div>
                <label for="player_name">Name:</label>
                <input required type="text" name="player_name" id="player_name">
            </div>
            <br>
            <div>
                <label for="player_choice">Choice:</label>
                <select required name="player_choice" id="choice">
                    <option value="" disabled selected>Choice</option>
                    <option value="Rock">Rock</option>
                    <option value="Paper">Paper</option>
                    <option value="Scissors">Scissors</option>
                </select>
            </div>
            <br>

            <input type="submit" value="Submit" id="submit-button">
        </form>

    {% endblock  %}

    
    
</body>
</html>
