<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
        <section id="welcome-page">
            <h1 id="welcome-title">Welcome!</h1>
            <section id="welcome-display">
                <div id="rock">
                    <span id="emoji">&#128074;</span>
                    <h3>Rock</h3>
                </div>
                <div id="paper">
                    <span id="emoji">&#128400;</span>
                    <h3>Paper</h3>
                </div>
                <div id="scissors">
                    <span id="emoji">&#9996;</span>
                    <h3>Scissors</h3>
                </div>
            </section>
        </section>
    {% endblock  %}
</body>
</html>